extends layout

block content
  h1= title
  p Welcome to #{title}
  #articles
      - each article in articles
          div.article
              div.created_at= article.created_at
              div.title
                  a(href="/blog/"+article._id.toHexString())!= article.title
                  //a(href="/blog/"+article._id)!= article.title // MEMORY OPTION: enable for memory based option to work
              div.body= article.body